.row {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.side {
  border-radius: 10px;
  background-color: #D4F1F4;
  padding: 20px;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  text-align: center;
}

.card-body {
  margin-top: 30px;
}