<section id="chat" class="position-absolute">
    <div class="header d-flex align-items-center">
        <div class="mx-3">
            <img ngSrc="./assets/default_user.png" alt="Display Picture" priority width="50" height="50">
        </div>
        <div class="user">
            <div class="name d-flex flex-column">
                <span class="font-weight-bold">{{this.userId}}</span>
                <small class="status gray">Online</small>
            </div>
        </div>
        <div class="right-menu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
    <div id="chat-content" #chatContainer>
        <div class="chat d-flex flex-column-reverse">
            <div class="primary px-4 d-flex flex-column">
                <div class="px-4 row my-1" *ngFor="let message of messages" [ngClass]="message.self ? 'right' : 'left'">
                    <div class="message">
                        <span>{{message.chat}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions d-flex justify-content-center">
        <div class="enter col-md-7 d-flex align-items-center ps-4">
            <div class="emoji">
                <i class="fa-regular fa-face-smile gray"></i>
            </div>
            <div class="type ms-3">
                <input #messageInput type="text" placeholder="Message" class=" border-0" [(ngModel)]="message" (keyup.enter)="sendMessage()">
            </div>
            <div class="send">
                <i class="fa-solid fa-paper-plane"></i>
            </div>
        </div>
    </div>
</section>
